<div mat-dialog-content class="text-center changePasswordModal">
  <p>Change password</p>
  <div>
    <mat-form-field class="w-100">
      <mat-label>Password</mat-label>
      <input [type]="showPassword == true ? 'text': 'password'" matInput required name="password"
             [(ngModel)]="data.password">
      <mat-icon *ngIf="showPassword === false" matSuffix (click)="toogleShowPassword()">visibility_off</mat-icon>
      <mat-icon *ngIf="showPassword === true" matSuffix (click)="toogleShowPassword()">visibility</mat-icon>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="w-100">
  <div class="row w-100">
    <div class="col-md-6 col-sm-12 pr-1 buttons">
      <button type="button" mat-raised-button class="btn-block w-100" cdkFocusInitial (click)="onNoClick()">Close
      </button>
    </div>
    <div class="col-md-6 col-sm-12 pl-1 buttons">
      <button (click)="changePassword(data)" mat-raised-button color="primary" class="btn-block w-100">Change</button>
    </div>
  </div>
</div>
