@import "~src/palette";
.progress {
  color: $dark;
}

.eventsCard {
  background-color: $dark;
  color: white;
}

.underLine {
  border-bottom: 1px solid white;
  border-width: 90%;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-label {
  color: $dark !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-label {
  color: $dark !important;
}

/deep/ .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: $danger !important;
}

/deep/ .mat-form-field.mat-form-field-invalid .email {
  color: $danger !important;
}

/deep/ .mat-form-field.mat-form-field-invalid .password {
  color: $danger !important;
}

/deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $primary !important;
}

/deep/ .mat-select-arrow-wrapper {
  background-color: $primary !important;
}

/deep/ .mat-input-element:disabled {
  color: $primary !important;
}

/deep/ svg {
  color: $primary !important;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $primary !important;
}

/deep/ .mat-select-value {
    color: $dark !important;
}

/deep/ .table {
  .mat-select-value {
    color: white !important;
  }
}

/deep/ .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: white;
}

/deep/ .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: white;
}
