<div mat-dialog-content class="text-center dialog absencesInfoModal">
  <div class="w-100">This student has {{justifiedAbsences+unjustifiedAbsences}} absences. {{justifiedAbsences}} justified and {{unjustifiedAbsences}} unjustified.</div>
  <div class="row">
    <div class="col-md-12 col-sm-12 mt-2 p-2 table">
      <table mat-table [dataSource]="data.absences" class="col-md-12 col-sm-12">
        <ng-container matColumnDef="schoolSubject" class="firstTableRow">
          <th mat-header-cell *matHeaderCellDef class="firstTableRow">School subject</th>
          <td mat-cell *matCellDef="let absence" class="firstTableRow"> {{ absence.school_subject.name }} </td>
        </ng-container>
        <ng-container matColumnDef="professor" class="text-center tableMobile">
          <th mat-header-cell *matHeaderCellDef class="text-center tableMobile">Professor</th>
          <td mat-cell *matCellDef="let absence"
              class="text-center tableMobile"> {{ absence.professor.first_name }} {{ absence.professor.last_name }} </td>
        </ng-container>
        <ng-container matColumnDef="student" class="text-center tableMobile">
          <th mat-header-cell *matHeaderCellDef class="text-center tableMobile">Professor</th>
          <td mat-cell *matCellDef="let absence"
              class="text-center tableMobile"> {{ absence.student.first_name }} {{ absence.student.last_name }} </td>
        </ng-container>
        <ng-container matColumnDef="isJustified">
          <th mat-header-cell *matHeaderCellDef class="text-center">Justified</th>
          <td mat-cell *matCellDef="let absence" class="text-center">
            <mat-checkbox *ngIf="absence.is_justified"
                          [checked]="true"
                          [disabled]="true">
            </mat-checkbox>
            <mat-checkbox *ngIf="!absence.is_justified"
                          [checked]="false"
                          [disabled]="true">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="showDetails">
          <th mat-header-cell *matHeaderCellDef class="text-center">...</th>
          <td mat-cell *matCellDef="let absence" class="text-center">
            <button mat-button matTooltip="Show details"
                    (click)="openDialogAbsence(absence)"><i class="material-icons">open_in_new</i></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeader"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="data"></tr>
      </table>
    </div>
  </div>
</div>
<div mat-dialog-actions class="w-100">
  <div class="row w-100">
    <div class="col-md-1 col-sm-0 removed"></div>
    <div class="col-md-10 col-sm-12 text-center p-1 w-100">
      <button type="button" mat-raised-button class="btn-block w-100" cdkFocusInitial
              (click)="onNoClick()">Close
      </button>
    </div>
    <div class="col-md-1 col-sm-0 removed"></div>
  </div>
</div>
