<div mat-dialog-content class="text-center dialog newGradeModal">
  <div class="row">
    <div class="col-md-1 col-sm-0 removed"></div>
    <div class="col-md-2 col-sm-12 text-center p-1">
      <button type="button" mat-raised-button cdkFocusInitial (click)="choseGrade(1)"
              [ngClass]="chosenGrade === 1 ? 'btn-block active' : 'btn-block'">
        1
      </button>
    </div>
    <div class="col-md-2 col-sm-12 text-center p-1">
      <button type="button" mat-raised-button cdkFocusInitial (click)="choseGrade(2)"
              [ngClass]="chosenGrade === 2 ? 'btn-block active' : 'btn-block'">
        2
      </button>
    </div>
    <div class="col-md-2 col-sm-12 text-center p-1">
      <button type="button" mat-raised-button cdkFocusInitial (click)="choseGrade(3)"
              [ngClass]="chosenGrade === 3 ? 'btn-block active' : 'btn-block'">
        3
      </button>
    </div>
    <div class="col-md-2 col-sm-12 text-center p-1">
      <button type="button" mat-raised-button cdkFocusInitial (click)="choseGrade(4)"
              [ngClass]="chosenGrade === 4 ? 'btn-block active' : 'btn-block'">
        4
      </button>
    </div>
    <div class="col-md-2 col-sm-12 text-center p-1">
      <button type="button" mat-raised-button cdkFocusInitial (click)="choseGrade(5)"
              [ngClass]="chosenGrade === 5 ? 'btn-block active' : 'btn-block'">
        5
      </button>
    </div>
    <div class="col-md-1 col-sm-0 removed"></div>
    <div class="col-md-1 col-sm-0 removed"></div>
    <div class="col-md-10 col-sm-12 text-center p-1">
      <mat-form-field class="w-100">
        <mat-label>Grade type</mat-label>
        <input type="text" matInput required [(ngModel)]="data.gradeType">
      </mat-form-field>
    </div>
    <div class="col-md-1 col-sm-0 removed"></div>
    <div class="col-md-1 col-sm-0 removed"></div>
    <div class="col-md-10 col-sm-12 text-center p-1">
      <mat-form-field class="w-100">
        <mat-label>Comment</mat-label>
        <textarea type="text" matInput required [(ngModel)]="data.comment"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions class="w-100">
  <div class="row w-100">
    <div class="col-md-1 col-sm-0 removed"></div>
    <div class="col-md-10 col-sm-12 text-center p-1 w-100">
      <button type="button" mat-raised-button class="btn-block w-100" cdkFocusInitial
              (click)="addGrade()">Add
      </button>
    </div>
    <div class="col-md-1 col-sm-0 removed"></div>
    <div class="col-md-1 col-sm-0 removed"></div>
    <div class="col-md-10 col-sm-12 text-center p-1 w-100">
      <button type="button" mat-raised-button class="btn-block w-100" cdkFocusInitial
              (click)="onNoClick()">Close
      </button>
    </div>
    <div class="col-md-1 col-sm-0 removed"></div>
  </div>
</div>
