@import "~src/palette";

.events {
  color: $dark;
}

.eventsCard {
  background-color: $dark;
  color: white;
}

.notFoundTitle {
  font-size: 50px;
  font-weight: 900;
}

.notFoundContent {
  font-size: 20px;
  font-weight: 900;
}
