<div mat-dialog-content class="text-center deleteSchoolClassSubjectModal">
  <mat-icon>warning</mat-icon>
  <h5>Are you sure that you want delete this school subject?</h5>
  <div class="text-center mt-1 delete">
    <button type="button" mat-raised-button color="danger" class="btn-block" (click)="deleteSchoolSubject()">Delete</button>
  </div>
  <div class="text-center mt-1">
    <button type="button" mat-raised-button class="btn-block" cdkFocusInitial
            (click)="onNoClick()">Close
    </button>
  </div>
</div>
