<div mat-dialog-content class="text-center editSchoolClassSubjectModal">
  <p>Add new member</p>
  <div>
    <mat-form-field class="w-100">
      <mat-label>School subject name</mat-label>
      <input type="text" matInput required name="school_subject_name" [(ngModel)]="data.subjectName" disabled>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Professor first name</mat-label>
      <input type="text" matInput required name="professor_first_name" [(ngModel)]="data.professorFirstName" disabled>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Professor last name</mat-label>
      <input type="text" matInput required name="professor_last_name" [(ngModel)]="data.professorLastName" disabled>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Professor email</mat-label>
      <input type="text" matInput required name="professor_email" [(ngModel)]="data.professorEmail" disabled>
    </mat-form-field>
    <div class="w-100 text-left mb-1">
      <mat-label class="mr-1">Active</mat-label>
      <mat-checkbox [(ngModel)]="data.isActive" [ngModelOptions]="{standalone: true}"></mat-checkbox>
    </div>
  </div>
</div>
<div mat-dialog-actions class="w-100 footer">
  <div class="row w-100">
    <div class="col-md-6 col-sm-12 pr-1 mt-1 buttons">
      <button type="button" mat-raised-button class="btn-block w-100" cdkFocusInitial (click)="onNoClick()">Close
      </button>
    </div>
    <div class="col-md-6 col-sm-12 pl-1 mt-1 buttons">
      <button (click)="activateOrDeactivate()" mat-raised-button color="primary" class="btn-block w-100">Edit</button>
    </div>
  </div>
</div>
