<div mat-dialog-content class="text-center newSchoolClassSubjectModal">
  <p>Add new school subject</p>
  <div>
    <mat-form-field class="w-100">
      <mat-label>User</mat-label>
      <mat-select [(ngModel)]="data.userId" [ngModelOptions]="{standalone: true}" required>
        <mat-option *ngFor="let user of users" [value]="user.professor.id">
          <p>{{ user.professor.first_name }} {{ user.professor.last_name }} {{ user.professor.email }}</p>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>School subject</mat-label>
      <mat-select [(ngModel)]="data.subjectId" [ngModelOptions]="{standalone: true}" required>
        <mat-option *ngFor="let schoolSubject of schoolSubjects" [value]="schoolSubject.id">
          <p>{{ schoolSubject.name }}</p>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="w-100 text-left mb-1">
      <mat-label class="mr-1">Active</mat-label>
      <mat-checkbox [(ngModel)]="data.isActive" [ngModelOptions]="{standalone: true}"></mat-checkbox>
    </div>
  </div>
</div>
<div mat-dialog-actions class="w-100 footer">
  <div class="row w-100">
    <div class="col-md-6 col-sm-12 pr-1 mt-1 buttons">
      <button type="button" mat-raised-button class="btn-block w-100" cdkFocusInitial (click)="onNoClick()">Close
      </button>
    </div>
    <div class="col-md-6 col-sm-12 pl-1 mt-1 buttons">
      <button (click)="addNewSchoolClassSubject()" mat-raised-button color="primary" class="btn-block w-100">Add</button>
    </div>
  </div>
</div>
