<div mat-dialog-content class="text-center">
  <form (submit)="editRole(data)">
    <div>
      <mat-form-field class="w-100">
        <mat-label>Role name</mat-label>
        <input type="text" matInput required name="role_name" [(ngModel)]="data.roleName">
      </mat-form-field>
    </div>
    <div class="text-center">
      <button type="submit" [disabled]="data.roleName ? false: true" mat-raised-button color="primary" class="btn-block">
        Edit
      </button>
    </div>
    <div class="text-center mt-1">
      <button type="button" mat-raised-button class="btn-block" cdkFocusInitial
              (click)="onNoClick()">Close
      </button>
    </div>
  </form>
</div>
