<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary" routerLink="/adminDashboard" class="app" (click)="closeMenu(null, drawer)">
      <i class="fas fa-school appTitle"></i> School Book
    </mat-toolbar>
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item" [routerLink]="[item.route]"
                          (click)="closeMenu(item.displayName, drawer)"></app-menu-list-item>
    </mat-nav-list>
    <div class="text-center logout p-1">
      <button type="submit" mat-raised-button color="primary" class="btn-block"
              (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        Logout
      </button>
      <div class="mt-1 copyright">
        Copyright
        <i class="fas fa-copyright"></i>
        2020 Mihael Perić
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        id="menuButton"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <div class="p-5 dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
