.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  //background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #66FCF1;
}

.logout {
  position: absolute;
  bottom: 10px;
  width: 90%;
}

.mat-toolbar-single-row {
  padding: 26px;
}

.mat-nav-list {
  @media(max-height: 359px) {
    overflow-y: scroll;
    height: 310px;
  }
  //width: 90% !important;
}


.dashboard-content {
  @media (max-width: 767px) {
    padding: 0px;
  }
}

/deep/ .mat-toolbar-single-row {
  z-index: 2 !important;
}

.app {
  cursor: pointer;
}

.copyright {
  font-size: 12px;
  /deep/ .material-icons {
    font-size: 10px !important;
  }
}

/deep/ .mat-toolbar {
  background-color: #0B0C10 !important;
  color: #66FCF1 !important;
}

/deep/ .mat-sidenav-content {
  background-color: #0B0C10 !important;
}

/deep/ .mat-sidenav {
  background-color: #0B0C10 !important;
  color: #66FCF1 !important;
  border-right: 1px solid #66FCF1;
}

/deep/ app-menu-list-item {
  a {
    background-color: #1F2833 !important;
    color: #66FCF1 !important;
    //border-bottom: 1px solid;
  }
}

/deep/ .mat-list-base {
  padding-top: unset !important;
}

button {
  border-radius: 50px;
  background-color: #1F2833 !important;
  color: #66FCF1 !important;
}

.subscribePushNotificationButton {
  width: 200px;
}
