/* Coolors Exported Palette - coolors.co/a31621-bfdbf7-053c5e-1f7a8c-db222a */

/* RGB */
$danger: rgba(163, 22, 33, 1);
$color2: rgba(191, 219, 247, 1);
$color3: rgba(5, 60, 94, 1);
$color4: rgba(31, 122, 140, 1);
$color5: rgba(219, 34, 42, 1);
$dark: #293132;
$primary: #547AA5;
